<%= render 'shared/banner' %>
<%= render 'shared/value' %>
<%= render 'shared/skills' %>
<%= render 'prospects/new' %>





<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Entre em Contato</h2>

        <%= simple_form_for @prospect do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>



    </div>
  </div>
</div>
