
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Entre em Contato</h2>

        <%= simple_form_for @prospect do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :title %>
        <%= f.input :message %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
